* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: #f3f8ff;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  width: 100%;
}
